.navbar {
  height: 80px;
  display: flex;
  justify-content: start;
  align-items: center;
}

.ROLE_ADMIN {
  background-color: #800000;
}
.ROLE_STUDENT {
  background-color: #1a83ff;
}
.ROLE_TEACHER {
  background-color: #006400;
}

.menu-bars {
  color: white;
  margin-left: 2rem;
  font-size: 2rem;
  background: none;
}

.nav-menu {
  width: 250px;
  height: 100vh;
  display: flex;
  justify-content: center;
  position: fixed;
  top: 0;
  left: -100%;
  transition: 850ms;
}

.nav-menu.active {
  left: 0;
  transition: 350ms;
}

.nav-text {
  display: flex;
  justify-content: start;
  align-items: center;
  padding: 8px 0px 8px 16px;
  list-style: none;
  height: 60px;
}

.nav-text a {
  text-decoration: none;
  color: #f5f5f5;
  font-size: 18px;
  width: 95%;
  height: 100%;
  display: flex;
  align-items: center;
  padding: 0 16px;
  border-radius: 4px;
}

.nav-text a:hover {
  background-color: #1a83ff;
}

.nav-menu-items {
  width: 100%;
}

.navbar-toggle {
  width: 100%;
  height: 80px;
  display: flex;
  justify-content: start;
  align-items: center;
}

span {
  margin-left: 16px;
}

/* my own code starts here */
.login-div {
  position: fixed;
  top: 50%;
  left: 50%;
  box-shadow: 0 2.8px 2.2px rgba(0, 0, 0, 0.034),
    0 6.7px 5.3px rgba(0, 0, 0, 0.048), 0 12.5px 10px rgba(0, 0, 0, 0.06),
    0 22.3px 17.9px rgba(0, 0, 0, 0.072), 0 41.8px 33.4px rgba(0, 0, 0, 0.086),
    0 100px 80px rgba(0, 0, 0, 0.12);
  border-radius: 10%;
  width: 33em;
  height: 21em;
  margin-top: -9em; /*set to a negative number 1/2 of your height*/
  margin-left: -15em; /*set to a negative number 1/2 of your width*/
  border: 1px solid #ccc;
  background-color: rgba(255, 255, 255, 0.9);
}

.fake-body {
  /* background-color: #00264d; */
  position: fixed;
  background-image: url("/src/images/background-login.jpg");
  top: 0;
  left: 0;
  min-width: 100%;
  min-height: 100%;
}
a:hover {
  cursor: pointer;
}

.text {
  color: #004d87;
  font-size: 18px;
}

@import url(https://fonts.googleapis.com/css?family=Lato:400,700);
body {
  font-family: "Lato", "sans-serif";
}
.profile {
  min-height: 300px;
  display: inline-block;
}
figcaption.ratings {
  margin-top: 20px;
}
figcaption.ratings a {
  color: #f1c40f;
  font-size: 11px;
}
figcaption.ratings a:hover {
  color: #f39c12;
  text-decoration: none;
}
.divider {
  border-top: 1px solid rgba(0, 0, 0, 0.1);
}
.emphasis {
  border-top: 4px solid transparent;
}
.emphasis:hover {
  border-top: 4px solid #1abc9c;
}
.emphasis h2 {
  margin-bottom: 0;
}
span.tags {
  background: #1abc9c;
  border-radius: 2px;
  color: #f5f5f5;
  font-weight: bold;
  padding: 2px 4px;
}
.dropdown-menu {
  background-color: #34495e;
  box-shadow: none;
  -webkit-box-shadow: none;
  width: 250px;
  margin-left: -125px;
  left: 50%;
}
.dropdown-menu .divider {
  background: none;
}
.dropdown-menu > li > a {
  color: #f5f5f5;
}
.dropup .dropdown-menu {
  margin-bottom: 10px;
}
.dropup .dropdown-menu:before {
  content: "";
  border-top: 10px solid #34495e;
  border-right: 10px solid transparent;
  border-left: 10px solid transparent;
  position: absolute;
  bottom: -10px;
  left: 50%;
  margin-left: -10px;
  z-index: 10;
}

label {
  display: inline-block;
  width: 100%;
  overflow: hidden;
}
.fields {
  color: #646c70;
  border: none;
  border-radius: 10px;
  outline: none;
  padding: 10px 10px 5px 10px;
  width: 100%;
}
.field-span {
  margin: 0 !important;
}

.fields + .field-span {
  display: block;
  border-bottom: solid 3px #019fb6;
  width: 0;
  -webkit-transition: width 250ms ease-in-out;
  transition: width 250ms ease-in-out;
}
.fields:focus + .field-span {
  width: 110%; /*  used calc first, but won't work on Edge  */
  -webkit-transition: width 250ms ease-in-out;
  transition: width 250ms ease-in-out;
}

/* Blue */
.info {
  border-color: #2196f3;
  color: dodgerblue;
}

.info:hover {
  background: #2196f3;
  color: white;
}
.form-in-center {
  margin: 0 10%;
}
.btn {
  padding: 1rem 2rem !important;
  font-size: 18px;
  border-radius: 5px;
}

/* Blue */
.black-btn {
  border-color: black;
  color: black;
}

.black-btn:hover {
  background: black;
  color: white;
}

.form-control:active,
.form-control:focus {
  box-shadow: none !important;
}
